<!-- gigit  -->
<!-- <section id="contact" class="content text-center">
        <div class="contact-section"> -->
            <br>
            <br>

            <div class="container "    style="background:whitesmoke"  >
              <br><br>
              <p class="parg"> فلسطين - غزة <br>
              الرمال - شارع الشهداء <br>
              هاتف :2820128 - 05922227973
              <br>: ساعات العمل <br>
               السبت إلى الجمعة : 9 صباحاً - 9 مساء </p><br>

              <div class="row" dir="rtl" >
                <div class="col-md-8 col-md-offset-2">
                  <form class="form-horizontal" dir="rtl"  style="text-align:right">
                    <div class="form-group" dir="rtl">
                      <label >الاسم :</label>
                      <input    type="text" class="form-control" >
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail2">البريد الإلكتروني :</label>
                      <input type="email" class="form-control" >
                    </div>
                    <div class="form-group ">
                      <label>رسالتك :</label>
                     <textarea  class="form-control" ></textarea> 
                    </div>
                    <button type="submit" class="btn btn-default">إرسال</button>
                  </form>

                  <hr>
                  
                  <table dir="ltr">
                    <tr>
                      <td><a href="#" class="btn btn-default btn-lg">Twitter</a></td>
                        <td><a href="#" class="btn btn-default btn-lg">Facebook</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        <!-- </div>
      </section> -->