
     <div class=" jumbotron text-center backgound-color:red "   style="margin-bottom:0"  >
            <h1 class="font-weight-bold" style="font-family:serif" >  Accent Club </h1>
            <p style="font-size:large">  ملتقى ثقافي اجتماعي للافراد و المؤسسات الدولية و المحلية </p> 
          </div>
          
          <nav class= "navbar-collapse bg-dark navbar-dark"  style="text-align: right">
            <a class= "navbar-brand"  routerLink='/ContactUs' >  تواصل معنا   </a>
            <a class= "navbar-brand"  routerLink='/Reservation' > احجز معنا </a>
            <a class= "navbar-brand"  routerLink='/FoodMenu'> قائمة الطعام </a>
            <a class= "navbar-brand"  routerLink='/HomaPage' > الرئيسية </a>
          </nav>
          <!-- <app-nav-bar></app-nav-bar> -->
<router-outlet></router-outlet>

