<div class=" jumbotron text-center "   style="margin-bottom:0"  >
    <h1 class="font-weight-bold" style="font-family:serif" >  Accent Club </h1>
    <p style="font-size:large">  ملتقى ثقافي اجتماعي للافراد و المؤسسات الدولية و المحلية </p> 
  </div>
  
  <nav class= "navbar-collapse bg-dark navbar-dark"  style="text-align: right">
    <a class= "navbar-brand"  routerLink='/AboutAs' routerLinkActive='active'> من نحن  </a>
    <a class= "navbar-brand"  routerLink='/Reservation' routerLinkActive='active'> احجز معنا </a>
    <a class= "navbar-brand"  routerLink='/FoodMenu' routerLinkActive='active'> قائمة الطعام </a>
    <a class= "navbar-brand"  routerLink='/HomaPag' routerLinkActive='active' > الرئيسية </a>
  </nav>
<h2 class="head" > : من نحن </h2>
<p class="parg" > ملتقى ثقافي اجتماعي للأفراد و المؤسسات الدولية و المحلية يتبع للمعهد اكسنت حيث يوفر بيئة ملائمة لعقد ورشات العمل و التدريب و به احدث التقنيات  </p>