
<!-- <div class=" jumbotron text-center backgound-color:red "   style="margin-bottom:0"  >
  <h1 class="font-weight-bold" style="font-family:serif" >  Accent Club </h1>
  <p style="font-size:large">  ملتقى ثقافي اجتماعي للافراد و المؤسسات الدولية و المحلية </p> 
</div>

<nav class= "navbar-collapse bg-dark navbar-dark"  style="text-align: right">
  <a class= "navbar-brand"  routerLink='/AboutAs' > من نحن  </a>
  <a class= "navbar-brand"  routerLink='/Reservation' > احجز معنا </a>
  <a class= "navbar-brand"  routerLink='/FoodMenu'> قائمة الطعام </a>
  <a class= "navbar-brand"  routerLink='/HomaPage' > الرئيسية </a>
</nav> -->
<!-------------------------Home page-------------------------------------->
<br>
<div class="card-columns">
    <div class="card">
      <img class="card-img-top"  src="../../assets/img7.jpg"   hight="50" width="30" alt="accent clube" >
      <div class="card-body" style="background-color:whitesmoke" >
        <h5 class="card-title" style="text-align:right " > فنجان قهوة و كتاب </h5>
        <p class="card-text" dir="rtl" class="parg"  >  نبتكر لكم مناخ ملائم و أجواء بيعدة عن الضوضاء لنتيح لكم مزيد من القراءة و الإطلاع  <br><br></p>
      </div>
    </div>
     
    <div class="card" style="background-color:whitesmoke">
        <img class="card-img-top" src="../../assets/img9.jpg" alt="Card image">
        <div class="card-body">
            <h4 style="text-align: center"   class="card-title">Accent Clube</h4>
            <p class="card-text"  class="parg">  ملتقى ثقافي اجتماعي للأفراد و المؤسسات الدولية و المحلية يتبع للمعهد اكسنت حيث يوفر بيئة ملائمة لعقد ورشات العمل والتدريب وبه احدث التقنيات </p>
            
          </div>
       
          
      </div>
      <div class="card">
          <img class="card-img-top" src="../../assets/img10.jpg" alt="Card image">
        
        </div>
    <div class="card" style="background-color:whitesmoke">
      <img class="card-img-top" src="../../assets/img4.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title" style="text-align:right ">عش التجربة معنا</h5>
        <p class="card-text" class="parg">صمم المقهى ليكون مكانك لتميز والإبداع يتيح  لك  اقامة و رش عمل و ولقاءات ثقافية و الاحتفال بمناسبات الخاصة </p><h6 class="card-text" class="parg">هو خياركم Accent Clube</h6> 
       
      </div>
    </div>
    <!-- <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
        <footer class="blockquote-footer">
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div> -->
    <!-- <div class="card text-center">
        <img class="card-img-top"  src="../../assets/img4.jpg"   hight="50" width="30" alt="accent clube" >
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>-->
    
    <!-- <div class="card"> -->
       
      <!-- <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div> -->
  </div>
